body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;  
    margin: 0;  
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

    
}
.container{
    background-color: rgb(255, 255, 255);
    width: 160vh;
    height: 95vh;
    position: relative;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 20vh;
}
.container .logo {
    position: absolute;
    display: flex;
    width: 30vh;
    height: 20vh;    
    left: 60vh;

    margin-top: 20px;
    
    
}
.container  h1 {
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: brown;
    position: absolute;
    right: 20%;
    top: 20px;
}   
.container .nav {
    background-color: rgb(146, 24, 24);
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 60vh;
    
}
.container .nav a {
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    position: absolute;
    bottom: 15px;
    left: 30px;
    border: 1px solid ;
    border-radius: 30px;
   
}
.container.nav a::after {
    background-color: brown;
}

.container .nav .inicio {
    width: 70px;
    text-align: center;

}

.container .nav .mi_familia {
    
    width: 70px;
    margin-left: 100px;
    text-align: center;

}


.container .nav .hobbies {
    margin-left: 200px;
    width: 70px;
    text-align: center;

}

.container .mi_presentacion{
    background-color: rgb(228, 216, 216);
    position: absolute;
    width: 85%;
    height: 60px;
    bottom: 50%;
    left: 110px;
    border: 2px solid rgb(228, 216, 216);
    border-radius: 30px;
    box-shadow: 10px  gray;
    text-align: center;
    box-shadow: 3px 3px 0 0 gray;
}

.container .descripcion .foto img{
    position: absolute;
    width: 40vh;
    height: 40vh;
    bottom: 40px;
    left: 100px;
    transition: 0.5;
    object-fit: cover;
    border: 3px solid ;
    border-radius: 20px;
}
.container .descripcion .foto img:hover{
    transform: scale(1.1);
}
.container .descripcion p{
    background-color: brown;
    position: absolute;
    width: 60vh;
    height: 30vh;
    bottom: 25px;
    left: 60vh;
    text-transform: none;
    border: 2px solid rgb(48, 4, 4); 
    border-radius:20px;
    margin: 40px;
    text-align: center;
    box-shadow: 3px 3px;
    transition: 0.5;
    object-fit: cover;
    
}
.container .descripcion p:hover{
    transform: scale(1.1)
}